<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserName" value="setansosmed"/>
    <add key="ConsumerKey" value="b3ExiNFZU2S2mTJY5AEGfb2Iq"/>
    <add key="ConsumerSecret" value="iiTmIkwUyL6VIjo5CDOLGL0S9NxzLhiVcb0bs2H2GhKtnPQuBO"/>
    <add key="AccessToken" value="766641024844169216-qGy5L7GhOHoKwxjTSgon5pu56aAljMX"/>
    <add key="AccessTokenScreet" value="OZRKyHq1cvM8JdcFf15zPNHPm080MjqCritNfIAYsGWM9"/>
    <add key="SleepMinRangeStart" value="5"/>
    <add key="SleepMinRangeEnd" value="10"/>
    <add key="MaxCharacter" value="200"/>
    <add key="Search" value="Pocong"/>
    <add key="ImgLength" value="6"/>
    <!--<add key="DataCount" value="5"/>-->
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
