<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserName" value="pocongsosmed"/>
    <add key="ConsumerKey" value="8SCJHfxpJGtdG58Ed0KkYdeWd"/>
    <add key="ConsumerSecret" value="nbnEMPHxBDxCqgG6ruLYvUq171AN6fuaG72WF3BVlgkxVxaRwL"/>
    <add key="AccessToken" value="724439969524244481-TNZNdQcoeyjInauqH9QGpbNihpbUZkQ"/>
    <add key="AccessTokenScreet" value="bGN6PvAeegiFtAlLFrJPP8pNR158UjGBcdUlYrbWwkOV6"/>
    <add key="SleepMinRangeStart" value="15"/>
    <add key="SleepMinRangeEnd" value="30"/>
    <add key="MaxCharacter" value="200"/>
    <add key="Search" value="Pocong"/>
    <add key="ImgLength" value="6"/>
    <!--<add key="DataCount" value="5"/>-->
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
